{% extends "base.html" %}
{% block title %}İletişim{% endblock %}
{% block content %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/contact-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if msg_sent: %}
          <h1>Successfully sent your message</h1>
          {% else: %}
          <h1>Bize Ulaşın</h1>
          {% endif %}
          <span class="subheading">Sorularınız mı var? Cevaplarımız <span style="color:red">her zaman</span> var.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          İletişime geçmek ister misiniz?
          Aşağıdaki formu doldurarak bize mesaj gönderin, en kısa sürede size geri dönüş yapacağız!
        </p>
        <div class="my-5">
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * Simplified SB Contact Form for the Tutorial* *-->
          <form
            id="contactForm"
            name="sentMessage"
            action="{{ url_for('contact') }}"
            method="POST"
          >
            <div class="form-floating">
              <input
                class="form-control"
                id="name"
                name="name"
                type="text"
                placeholder="İsminizi giriniz..."
                required
              />
              <label for="name">İsim</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="email"
                name="email"
                type="email"
                placeholder="Emailinizi giriniz..."
                required
              />
              <label for="email">Email adresi</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="phone"
                name="phone"
                type="tel"
                placeholder="Telefon numaranızı giriniz..."
                required
              />
              <label for="phone">Telefon numarası</label>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                id="message"
                name="message"
                placeholder="Mesajınızı giriniz..."
                required
                style="height: 12rem"
              ></textarea>
              <label for="message">Mesaj</label>
            </div>
            <br />
            <button
              class="btn btn-success text-uppercase"
              id="submitButton"
              type="submit"
            >
              Mesaj gönder
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
