<!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div class="container-fluid px-0">
        <a class="navbar-brand" href="{{ url_for('get_all_posts') }}">
          <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Serpentine Logo" class="logo-img">
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        ><i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
           <li class="nav-item dropdown profile-dropdown">
            {% if logged_in %}
              <a class="nav-link" href="#" id="profileDropdown">
                <img src="{{ current_user.email | gravatar }}"
                     alt="Profil"
                     style="border-radius: 50%; width: 40px; height: 40px;">
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profilim</a></li>
                <li><a class="dropdown-item" href="#">Ayarlar</a></li>
                <li><a class="dropdown-item" href="{{ url_for('contact') }}">İletişim</a></li>
                <li><a class="dropdown-item" href="{{ url_for('about') }}">Hakkımızda</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Çıkış Yap</a></li>
              </ul>
            </li>
              </ul>
            </li>
            {% endif %}
            <!-- Ana Sayfa İkonu -->
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('get_all_posts') }}" style="color:#FFFFFF">
                <i class="bi bi-house" style="font-size:25px"></i>
              </a>
            </li>
            <!-- Giriş/Kayıt / Çıkış -->
            {% if not logged_in %}
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('login') }}" style="color:#FFFFFF">
                <i class="bi bi-box-arrow-in-right" style="font-size:25px"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('register') }}" style="color:#FFFFFF">
                <i class="bi bi-person-plus" style="font-size:25px"></i>
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('logout') }}" style="color:#FFFFFF">
                <i class="bi bi-box-arrow-right" style="font-size:25px"></i>
              </a>
            </li>
            {% endif %}
            <!-- Diğer Menüler -->
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('about') }}" style="color:#FFFFFF">
                <i class="bi bi-file-text" style="font-size:25px"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('contact') }}" style="color:#FFFFFF">
                <i class="bi bi-telephone" style="font-size:25px"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>