{% extends "base.html" %}
{% block title %}Ana Sayfa{% endblock %}
{% block content %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Selim'in Bloğu</h1>
          <span class="subheading">Rastgele düşüncelerin bir koleksiyonu.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 style="color:black" class="post-title">{{ post.title }}</h2>
          <h3 style="color:#black" class="post-subtitle">{{ post.subtitle }}</h3>
        </a>
        <p class="post-meta">
          <a href="#" style="color:#43C9E0">{{post.author.name}}</a>
           tarafından <span style="color:#E1B523">{{post.date}}</span>'de yayınlandı.
          <!-- TODO: Only show delete button if user id is 1 (admin user) -->
          {% if current_user.id==1 or current_user.id==post.author_id %}
          <a href ="{{url_for('delete_post', post_id=post.id) }}" style="color:#E00026">✘</a>
          {% endif %}
          </p>
          <p style="font-size:12px">{{ post.likes|length }} Beğeni</p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Post -->
      <!-- TODO: Only show Create Post button if user id is 1 (admin user) -->
      {% if logged_in %}
      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('add_new_post')}}"
          >Yeni Gönderi Oluştur</a
        >
      </div>
      {% endif %}

      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary text-uppercase" href="#!">Eski Gönderiler →</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

